<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button
          (click)="clickBurger.emit()"
          *ngIf="(isHandset | async)!.matches">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
    <div fxFlex class="text--right">
      <button mat-icon-button [matMenuTriggerFor]="matmenu">
        <mat-icon>public</mat-icon>
      </button>
      <mat-menu #matmenu="matMenu">
        <button mat-menu-item (click)="changeLanguage('en')">
          <span>
            English
          </span>
        </button>
        <button mat-menu-item (click)="changeLanguage('fr')">
          <span>
            Français
          </span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
