.sidebar-badge {
  float: right;
  display: inline-block;
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 0 3px;
  font-size: 10px;
  color: white;
  background-color: purple;
  text-align: center;
  vertical-align: baseline;
}