<mat-sidenav-container class="sidenav-container">
<mat-sidenav *ngIf="Auth"
             class="sidenav" fixedInViewport="true"
             [attr.role]="isHandset ? 'dialog' : 'navigation'"
             [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
             [(opened)]="ifShowSideMenu">
  <app-sidenav></app-sidenav>
</mat-sidenav>
<mat-sidenav-content>
  <app-menubar (clickBurger)="ifShowSideMenu = !ifShowSideMenu"></app-menubar>
  <section class="progress-bar">
    <mat-progress-bar [color]="'primary'" [mode]="progressBarMode"></mat-progress-bar>
  </section>
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
